<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Welcome to Portal!
                </h1>
                <small>
                    Portal detailed welcome message here
                </small>

                <!-- <ul>
                    <li class="text" *ngFor="let user of users | async">{{user.name}}</li>
                </ul> -->
            </div>
        </div>
    </div>

    <!-- <div class="row" style="margin-top: 20px;">

    </div> -->

    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <h2>TODO</h2>
            <div class="ibox-content">
                <h2>Active</h2>
            </div>
            <ul class="todo-list m-t ui-sortable">
                <li>
                    <!-- <a class="check-link">
                        <i class="fa fa-check-square"></i>
                    </a> -->
                    <span class="m-l-xs">Buy a milk</span>
                    <i class="btn fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                    <i class="btn fa fa-check-square-o fa-2x" aria-hidden="true"></i>
                    <i class="btn fa fa-window-close fa-2x" aria-hidden="true"></i>
                    <button class="btn btn-white btn-sm" aria-hidden="true">Done</button>
                </li>
                <li>
                    <!-- <a class="check-link">
                        <i class="fa fa-check-square"></i>
                    </a> -->
                    <span class="m-l-xs ">Go to shop and find some products.</span>
                    <i class="btn fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                    <i class="btn fa fa-check-square-o fa-2x" aria-hidden="true"></i>
                    <i class="btn fa fa-window-close fa-2x " aria-hidden="true"></i>
                    <button class="btn btn-white btn-sm" aria-hidden="true">Done</button>
                </li>
                <li>
                    <!-- <a class="check-link">
                        <i class="fa fa-square-o"></i>
                    </a> -->
                    <span class="m-l-xs">Send documents to Mike</span>
                    <i class="btn fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                    <i class="btn fa fa-check-square-o fa-2x" aria-hidden="true"></i>
                    <i class="btn fa fa-window-close fa-2x" aria-hidden="true"></i>
                    <button class="btn btn-white btn-sm" aria-hidden="true">Done</button>
                    <!-- <small class="label label-primary">
                        <i class="fa fa-clock-o"></i> 1 mins</small> -->
                </li>
                <li>
                    <!-- <a class="check-link">
                        <i class="fa fa-square-o"></i>
                    </a> -->
                    <span class="m-l-xs">Go to the doctor dr Smith</span>
                    <i class="btn fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                    <i class="btn fa fa-check-square-o fa-2x" aria-hidden="true"></i>
                    <i class="btn fa fa-window-close fa-2x" aria-hidden="true"></i>
                    <button class="btn btn-white btn-sm" aria-hidden="true">Done</button>
                </li>
                <li>
                    <!-- <a class="check-link">
                        <i class="fa fa-square-o"></i>
                    </a> -->
                    <span class="m-l-xs">Plan vacation</span>
                    <i class="btn fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                    <i class="btn fa fa-check-square-o fa-2x" aria-hidden="true"></i>
                    <i class="btn fa fa-window-close fa-2x" aria-hidden="true"></i>
                    <button class="btn btn-white btn-sm" aria-hidden="true">Done</button>
                </li>
                <li>
                    <a class="check-link">
                        <i class="fa fa-plus-square"></i>
                        <span class="m-l-xs">Add a to-do</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- End 2nd Row Dashboard -->

    <div class="row">

            <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h3>DONE</h3>
                            <div class="ibox-tools">
                                <!-- <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a> -->
                                <!-- <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a> -->
                            </div>
                        </div>
                        <div class="ibox-content">
                            <ul class="todo-list m-t ui-sortable">
                                <li>
                                    <span class="m-l-xs">Buy a milk</span>

                                </li>
                                <li>
                                    <span class="m-l-xs">Go to shop and find some products.</span>

                                </li>
                                <li>
                                    <span class="m-l-xs">Send documents to Mike</span>
                                </li>
                                <li>
                                    <span class="m-l-xs">Go to the doctor dr Smith</span>
                                </li>
                                <li>
                                    <span class="m-l-xs">Plan vacation</span>
                                </li>
                                <li>
                                    <span class="m-l-xs">Create new stuff</span>
                                </li>
                                <li>
                                    <span class="m-l-xs">Call to Anna for dinner</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

    </div>

    <!-- End 3rd Row Dashboard -->
</div>