<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Welcome to Portal!
                </h1>
                <small>
                    Portal detailed welcome message here
                </small>

                <!-- <ul>
                    <li class="text" *ngFor="let user of users | async">{{user.name}}</li>
                </ul> -->
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Inline form</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="inputFirstName" class="sr-only">First Name</label>
                            <input type="firstname" required name="firstName" [(ngModel)]="firstName" placeholder="first name" id="inputFirstName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputLastName" class="sr-only">Last Name</label>
                            <input type="lastname" placeholder="last name" required name="lastName" [(ngModel)]="lastName" id="inputLastName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputAge" class="sr-only">Age</label>
                            <input type="age" placeholder="age" required name="age" [(ngModel)]="ageNumber" id="inputAge" class="form-control">
                        </div>
                        <!-- <div class="checkbox m-r-xs">
                                    <input type="checkbox" id="checkbox1">
                                    <label for="checkbox1">
                                        Remember me
                                    </label>
                                </div> -->
                        <div class="form-group">
                            <button class="btn btn-white" type="submit" (click)="addingDataToDatabase()" onsubmit="return validateForm()">Add Data</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Inline form</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="exampleInputEmail2" class="sr-only">Text to Shout</label>
                            <input name="textToShout" [(ngModel)]='textToShout' type="email" placeholder="Enter text to shout" id="exampleInputEmail2" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword2" class="sr-only">Shouted</label>
                            <input name="shoutedText" [(ngModel)]="shoutedText" type="text" id="exampleInputPassword2" class="form-control">
                        </div>
                        <button (click)="onShoutClick()" class="btn btn-white" type="submit">Shout!</button>
                    </form>
                </div>
            </div>
        </div> -->
    </div>

    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Basic Table</h5>

                <div class="widget style1 navy-bg">
                    <div class="row vertical-align">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <h2 class="font-bold" data-animation="bounce">{{employees.length}}</h2>
                        </div>
                    </div>
                </div>
                <!-- <a href="#" class="btn btn-white animation_select" data-animation="bounce">bounce</a> -->

                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>

                <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search in table">

                <!-- <a href="#"><i class="fa fa-sort-alpha-asc"></i> fa-sort-alpha-asc</a> -->

            </div>
            <div class="ibox-content">

                <table class="table">
                    <thead>
                        <tr>
                            <th>First Name
                                <button type="button" (click)="sortByFirstName()" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-sort"></span> Sort
                                </button>
                                <!-- <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button" aria-expanded="true">Action
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#">Action</a>
                                    </li>
                                    <li>
                                        <a href="#">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">Separated link</a>
                                    </li>
                                </ul> -->
                            </th>

                            <th>Last Name
                                <button type="button" (click)="sortByLastName()" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-sort"></span> Sort
                                </button>
                            </th>

                            <th>Age
                                <button type="button" (click)="sortByAge()" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-sort"></span> Sort
                                </button>
                            </th>

                            <th>
                                <button type="button" class="btn btn-default btn-sm">
                                    delete
                                </button>
                                <!-- <a href="">
                                    <i class="fa fa-trash"></i>
                                </a> -->
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of this.employees ">
                            <!-- dapat sa main na element nimo ibutang ang *ngFor -->
                            <!-- <td >Mark</td> -->
                            <!-- <button is="paper-icon-button-light" id="checkbox" role="checkbox" aria-checked="false" aria-label="3:10 PM  javascript - How to delete/remove nodes on Firebase - Stack Overflow stackoverflow.com"
                                focus-type="checkbox" tabindex="0">
                                <div id="checkmark"></div>
                            </button> -->
                            <!-- <span class="input-group-addon">
                                <input type="checkbox">
                            </span> -->
                            <!-- <td><span class="input-group-addon"><input type="checkbox"></span></td> -->
                            <td>{{ employee.firstname }}</td>
                            <td>{{ employee.lastname }}</td>
                            <td>{{ employee.age }}</td>
                            <!-- <td>Otto</td> -->
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <!-- End 2nd Row Dashboard -->

    <div class="row">
    </div>

    <!-- End 3rd Row Dashboard -->
</div>