<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>ATTENDANCE</h5>
            <div class="ibox-tools">
            </div>
        </div>
        <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name </th>
                            <th>Phone </th>
                            <th>Address </th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Patrick Smith</td>
                            <td>0800 051213</td>
                            <td>Inceptos Hymenaeos Ltd</td>
                            <td>Jul 14, 2013</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Alice Jackson</td>
                            <td>0500 780909</td>
                            <td>Nec Euismod In Company</td>
                            <td>Jul 16, 2013</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button type="button" class="btn btn-primary" (click)="openModal(template)">Log In</button>

            <ng-template #template>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Attendance Form</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <p>Sign in today for more expirience.</p>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                                <input type="name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Phone</label>

                            <div class="col-lg-10">
                                <input type="number" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Address</label>
                            <div class="col-lg-10">
                                <input type="address" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- <div class="col-xs-12 col-12 col-md-3 form-group">
                            <button class="btn btn-success" (click)="dp.toggle()">Date Picker</button>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-12 col-md-4 form-group">
                                <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="bsValue">
                            </div>
                        </div> -->
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Date</label>
                                <div class="col-lg-10">
                                    <input type="date" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-sm btn-white" type="submit">Done</button>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-template>
        </div>
    </div>
</div>