<div class="ibox float-e-margins">
    <div class="ibox-content">
        <h2>TODO</h2>
        <div class="ibox-content">
            <form role="form" class="form-inline">
                <div class="form-group">
                    <label for="inputFirstName" class="sr-only">First Name</label>
                    <input type="firstname" required name="firstName" placeholder="first name" id="inputFirstName" class="form-control">
                </div>
                <!-- <div class="form-group">
                    <label for="inputLastName" class="sr-only">Last Name</label>
                    <input type="lastname" placeholder="last name" required name="lastName" id="inputLastName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputAge" class="sr-only">Age</label>
                    <input type="age" placeholder="age" required name="age" id="inputAge" class="form-control">
                </div> -->
                <div class="form-group">
                    <button class="btn btn-white" type="submit" onsubmit="return validateForm()">Add Data</button>
                </div>
            </form>
        </div>
        <ul class="todo-list m-t ui-sortable">
            <li>
                <a href="#" class="check-link">
                    <i class="fa fa-check-square"></i>
                </a>
                <span class="m-l-xs todo-completed">Buy a milk</span>
            </li>
            <li>
                <a href="#" class="check-link">
                    <i class="fa fa-check-square"></i>
                </a>
                <span class="m-l-xs  todo-completed">Go to shop and find some products.</span>
            </li>
            <li>
                <a href="#" class="check-link">
                    <i class="fa fa-square-o"></i>
                </a>
                <span class="m-l-xs">Send documents to Mike</span>
                <small class="label label-primary">
                    <i class="fa fa-clock-o"></i> 1 mins</small>
            </li>
            <li>
                <a href="#" class="check-link">
                    <i class="fa fa-square-o"></i>
                </a>
                <span class="m-l-xs">Go to the doctor dr Smith</span>
            </li>
            <li>
                <a href="#" class="check-link">
                    <i class="fa fa-square-o"></i>
                </a>
                <span class="m-l-xs">Plan vacation</span>
            </li>
            <li>
                <a href="#" class="check-link">
                    <i class="fa fa-plus-square"></i>
                    <span class="m-l-xs">Add a to-do</span>
                </a>
            </li>
        </ul>
    </div>
</div>